

:root {
    --lightTheme: rgb(255, 232, 217);
    --darkTheme: rgb(56, 175, 196);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--lightTheme);
    font-family:'Courier New', Courier, monospace
}

/* My name and the box containing it */
header {
    display: flex;
    position:relative;
    border:20px;
    padding:50px;
    background:var(--lightTheme);
    background-color: var(--darkTheme);
}

h1 {
    position:absolute;
    left: 8px;
    bottom: -5px;
    font-size: 250%;
    background: var(--darkTheme);
    color: var(--lightTheme);
}

/* Navigation Bar styling */
nav {
    /* display: flex; */
    position:relative;
    align-items: flex-end;
    color: var(--darkTheme);
}

#navBar {
    list-style-type:none;
    text-align: right;
    font-weight: bolder;
    font-size: 110%;
    color: var(--darkTheme);
    vertical-align: top;
}

.navItem {
    background-color: transparent;
    display: inline;
    position: relative;
    top: -4px;
    right: 30px;
}

a {
    background-color:transparent;
    color: inherit;
    text-decoration: inherit;
  }

/* About section with personal profile photo and a paragraph of information */
#aboutHeader {
    color: var(--darkTheme);
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

#aboutContainer {
    display: flex;
    align-items: center;
    background: var(--lightTheme);
    position: relative;
    text-align: center;
}

#profilePic {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 100px;  
    border-radius: 50%;
    box-shadow: 5px 5px var(--darkTheme);
}

article {
    /* margin-right: 200px; */
    color: var(--darkTheme);
    padding-bottom: 50px;
}

#projectsHeader {
    background-color: var(--lightTheme);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 75px;
    /* margin-right: 60px; */
    color: var(--darkTheme);
}

.backgroundBox {
    background: var(--darkTheme);
    margin-bottom: 30px;
}

/* container and boxes for project display */
#projectsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 50px;
    border-bottom: 40px solid var(--darkTheme);
    background: var(--darkTheme);
}

.projectsBox {
    /* flex: 1; */
    margin-top: 25px;
    flex-basis: 33%;
    background: var(--darkTheme);
}

.projectsPhoto {
    height: 215px;
    width: 325px;
    border-radius: 25px;
}





h3 {
    background: var(--darkTheme);
    color: var(--lightTheme);
}



#contactContainer {
    margin-top: 50px;
    display:flex;
    text-align: center;
    padding-bottom: 200px;

}

#contactContainer div {
    flex: 1;
    justify-content: center;
    padding: 30px;
}

.contactHeader {
    text-align: center;
    color: var(--darkTheme);
    margin-top: 100px;
}

.contactInfo {
    color: var(--darkTheme);
}

@media screen and (max-width: 768px) {
    h1 {
    position:static;
    left: 0px;
    bottom: 0px;
    font-size: 250%;
    background: var(--darkTheme);
    color: var(--lightTheme);   
    text-align: center;
   } 

   #contactContainer {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    padding-bottom: 200px;

    }

    #navBar {
        text-align: center;
    }

    .navItem {
        right: 0px;
    }

}

/* #recentProject {
    height:268.75px;
    width:406.25px;
} */

.projectsPhoto:hover {
    height:268.75px;
    width:406.25px;
    box-shadow: grey 5px 5px 5px;
}