

:root {
    --lightTheme: rgb(255, 232, 217);
    --darkTheme: rgb(56, 175, 196);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* My name and the box containing it */
header {
    position:relative;
    border:20px;
    padding:50px;
    background:var(--lightTheme);
    background-color: var(--darkTheme);
}

h1 {
    position:absolute;
    left: 8px;
    bottom: -1px;
    font-size: 250%;
    /* background: var(--darkTheme); */
    color: var(--lightTheme);
}

/* Navigation Bar styling */
nav {
    position:relative;
    background: var(--lightTheme);
    color: var(--darkTheme);
}

#navBar {
    list-style-type:none;
    text-align: right;
    font-weight: bolder;
    font-size: 110%;
    color: var(--darkTheme);
    vertical-align: top;
}

.navItem {
    display: inline;
    position: relative;
    top: -4px;
    right: 30px;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

/* About section with personal profile photo and a paragraph of information */
#aboutContainer {
    display: flex;
    align-items: center;
    background: var(--lightTheme);
    position: relative;
    height: 150px;  
}

figure {
    /* height: 15; */
}

#profilePic {
    vertical-align: middle;
    position:relative;
    left: 15px;
    /* top: 15px; */
    float:left;
    height: 100px;
    width: 100px;  
    z-index: 1;  
}

article {
    z-index: 0;
    position: relative;
    left: 25px;
    /* top: 15px; */
    vertical-align: middle;
    background-color: var(--lightTheme);
}

#projectsContainer {
    background-color: var(--lightTheme);
    display: flex;
}

#projectsHeader {
    position: relative;
    left: 125px;
}

.projectsBox {
    background: var(--lightTheme);
    height: 200px;
    width:200px;
}

h3 {
    position: relative;
    top:30px;
    text-align: left;
}

.projectsPhoto {
    /* vertical-align: middle; */
    position: relative;
    top: 30px;
    
    height: 150px;
    width: 150px;  
    z-index: 1; 
}